apache-airflow[postgres,kubernetes,statsd]==2.0.2
fastapi==0.63.0
PyYAML==5.4.1
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyter-enterprise-gateway==2.5.0
jupyter-packaging==0.7.12
jupyter-server==1.4.1
jupyterlab==3.0.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
jupyterlab-widgets==1.0.0